<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ANGULAR</a>
     <ul class="navbar-nav ">
      <li class="nav-item active">
          <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item active">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link"> Add Employee</a>
        </li>
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Contacts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Empoyee List</a>
            <a class="dropdown-item" href="#">Management Team List</a>
            <a class="dropdown-item" href="#">Support Team </a>
          </div>
        </li>
      </ul>
      <form  class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>

<h2 class="text-center  ">{{title}}</h2>
<div class="container">
<router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>All Right Reserved</span>
    </div>
</footer> -->

<app-menu></app-menu>
<div class="container">
<router-outlet></router-outlet>
</div>


<app-footer></app-footer>




